/* Style pour le corps de la page */
body {
    margin: 0;  
    height: 100vh; 
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    background-image: url('Pictures/background.jpg'); 
    background-size: cover; 
    background-position: center; 
}

/* Style pour le conteneur principal qui contient la grille */
.grid-wrapper {
    display: flex;
    justify-content: center;  
    align-items: center;      
}

/* Style pour le conteneur de la grille */
.grid {
    display: grid;
    gap: 1px;
    width: 100%;    
    height: 100%;   
    max-width: 800px; 
    max-height: 800px; 
}

/* Cellules de la grille */
.grid-item {
    background-color: white;
    border: 1px solid #ccc;
}

/* Cellules de mur */
.wall {
    background-color: grey;
}

/* Cellule de départ */
.start {
    background-color: green;
    color: white;
    font-weight: bold;
}

/* Cellule d'arrivée */
.goal {
    background-color: red;
    color: white;
    font-weight: bold;
}

/* Cellules de coordonnées */
.coord-cell {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ddd;
    font-weight: bold;
}
